<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <div class="logo-container">
        <img class="logo" src="images/Swipe4GoodFinal.png"/>    
    </div>
</section>
<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-button md-no-ink class="md-primary">Login with Facebook</md-button>
    <md-button md-no-ink class="md-primary">Login with Twitter</md-button>
    <md-button md-no-ink class="md-primary">Login with Google+</md-button>
</section>