<button id="btnExport" class="btnExport md-toolbar-tools" type="button" ng-csv="swipes" filename="data.csv" disable><h2 class="md-flex">Export data</h2></button>
<br/>
<br/>
<table datatable="ng" class="row-border hover">
    <thead>
    <tr>
        <th>Lat</th>
        <th>Long</th>
        <th>Timestamp</th>
        <th>Swipe</th>
        <th>Category</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="swip in swipes">
        <td>{{ swip.lat }}</td>
        <td>{{ swip.long }}</td>
        <td>{{ swip.timestamp }}</td>
        <td>{{ swip.swipe }}</td>
        <td>{{ swip.category }}</td>
    </tr>
    </tbody>
</table>
