<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <div class="logo-container">
        <img class="logo" src="images/Swipe4GoodFinal.png" />
    </div>
</section>
<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-button md-no-ink class="md-primary">
        <a href="#/swipe" class="btn btn-block btn-social btn-facebook">
            <span class="fa fa-facebook"></span> Sign in with Facebook
        </a>
    </md-button>
    <md-button md-no-ink class="md-primary">
        <a href="#/swipe" class="btn btn-block btn-social btn-twitter">
            <span class="fa fa-twitter"></span> Sign in with Twitter
        </a>
    </md-button>
    <md-button md-no-ink class="md-primary">
        <a href="#/swipe" class="btn btn-block btn-social btn-google">
            <span class="fa fa-google"></span> Sign in with Google
        </a>
    </md-button>
</section>